<div class="header" ng-controller="MessageCtrl">
  <h3 class="text-muted">chatty</h3>


<h4>Latest Chats:</h4>
<div class="jumbotron">

<form>
	<input type="text" ng-model="newMessage.text" placeholder="New Chat Message">
	<input type="text" ng-model="newMessage.author" placeholder="author">
	<button ng-click="addMessage()">Submit</button>
</form>
	<div ng-repeat="message in messages">
	{{message.text}}
	by: {{message.author}}
	<br>
	sent: {{message.timeStamp | date: 'shortTime'}}
	
	</div>
</div>
</div>
